/* .Table-Wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Table {
  border-collapse: collapse;
  text-align: left;
  width: 80%;
  margin-top: 1rem;
  color: #fff;
}

thead {
  background-color: #6D7AE0;
  border-radius: 100px;
}

tr {
  height: 53px;
}

tr:nth-child(even) {
  background-color: #F8F6FF;
}

th {
  font-weight: bold;
  font-size: 18px;
  padding: 1rem;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

td {
  font-size: 15px;
  font-weight: lighter;
  padding: 1rem;
  color: #808080;
  line-height: 1.4;
}

.No-Students {
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
}

.Spinner-Wrapper {
  display: flex; 
  justify-content: center; 
  height: 100vh;
  align-items: center;
} */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; 
}

.modal-box {
  position: relative;
  background: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 400px;
  animation: popIn 0.5s ease-out forwards;
}

.modal-box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.close-btn3 {
  position: absolute;
  top: 8px;
  right: 12px;
  background: none;
  border: none;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
}

.close-btn:hover {
  color: #fa5a04;
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


.ekit-main-swiper,
.swiper-wrapper,
.swiper-slide {
  touch-action: pan-y pan-x !important;
  pointer-events: auto !important;
}
